{{!-- Sheet for displaying Archetype --}}

<form class="{{cssClass}}" autocomplete="off">
    <div class="archetype sheet-content">
        <div class="box-border">
            <div class="archetype-title">
                <h3>
                    <input name="name" type="text" value="{{item.name}}"
                        placeholder='{{localize "SCRPG.charInfo.archetype"}}'>
                </h3>
            </div>
            <div class="archetype-description">
                {{editor enrichedArchetypeDescription target="system.description" button=true editable=editable}}
            </div>
        </div>
    </div>
</form>