{{!-- Sheet for displaying quality --}}

<form class="{{cssClass}}" autocomplete="off">
    <header class="quality-title sheet-header">
        <h3 class="box-border white-abilities"><input name="name" type="text" value="{{item.name}}"
                placeholder="{{ localize 'Name' }}" /></h3>
    </header>

    <div class="sheet-content">
        <table class="box-border powerquality">
            <tr>
                <th>{{localize "SCRPG.sheet.die"}}</th>
                <th>{{localize "SCRPG.sheet.description"}}</th>
            </tr>
            <tr>
                {{!-- Dropdown menu for selecting die type --}}
                <td>
                    <select name="system.dieType">
                        {{#select item.system.dieType}}
                        {{#each config.dieTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                {{!-- Description input --}}
                <td>
                    {{editor enrichedQualityDescription target="system.description" button=true editable=editable}}
                </td>
            </tr>
        </table>
    </div>
</form>